@charset "utf-8";
/* CSS Document */

body{
    background-color: #F8F8F8;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    height: 100%;
    margin: 0;
    overflow: auto;
    padding: 0;
    width: 100%;
    }

a:link, a:visited{
    color:#0066b3;
    text-decoration:none;
    }
a:hover{
    text-decoration:underline;
    }

.header{
    height:100px;
    background:url(.././img/menubar.png) repeat-x left 69px #FFFFFF; 
    padding-bottom:5px;
    min-width: 1024px;
    }
    
.headerContent{
    background-color:#FFFFFF;
    height:100px;
    }
.logo{
    height:76px;
    width:266px;
    background:url(.././img/logo_RCNA.png) 10px 10px no-repeat;
    }
ul.topnav {
    margin: 0 0 0 5px;
    padding: 0;
}
ul.topnav li{
    float: left;
    list-style: none outside none;
    margin: 0;
    padding:5px 10px;
    font-size:12px;
}

ul.topnav a {
    color: #000000;
    text-decoration: none;
    padding:5px;
}

ul.topnav a:hover{
    background:#d9d9d9;
}


ul.topnav .on {
    background:#F8F8F8;
    border-style:solid;
    border-color:#03919D #03919D #F8F8F8 #03919D;
    border-top-width:thin;
    border-right-width:thin;
    border-left-width:thin;
    border-bottom-width:thick;
   /* border-radius: 0px 2px 0 0; */
}

#content{
    bottom: 0;
    overflow: hidden;
    position: absolute;
    top: 105px;
    width: 100%;
    min-width: 1024px;
    }
#left{
    border: 1px solid #D2D2D2;
    border-radius: 10px;
    padding: 16px 10px 20px;
    float:left;
    width: 210px;
    margin: 10px;
    }
#right{
    border: 1px solid #D2D2D2;
    bottom: 51px;
    height: auto;
    left: 240px;
    margin: 10px;
    position: absolute;
    right: 0;
    top: 0px;
    border-radius: 10px 10px 0 0;
    background-color:#FFFFFF;
    overflow:auto;
    }
    
#right iframe{
    border-radius: 7px 7px 0 0;
    }
    
#right_bottom{
    border: 1px solid #D2D2D2;
    border-radius: 0 0 10px 10px;
    bottom: 0;
    height: 50px;
    left: 240px;
    margin: 10px;
    position: absolute;
    right: 0;
    }
    
#right_bottom .mapicon{
    float:left;
    margin: 10px 0 10px 10px;
    font-size:10px;
    }
    
#right_bottom .page_count{
    float:left;
    margin: 10px 0 10px 10px;
    font-size:11px; font-weight:bold;line-height: 30px;
    }
    
.search_input{
    border:1px solid #d2d2d2;
    height: 25px;
    width:150px !important;
    font-size: 16px;
    }
    
.contentBox {
    padding: 5px 5px 0;
    line-height:10px;
    margin-bottom:15px;
}
.contentBox input{
    width:185px;
    }
.table-icon {
    padding-right: 5px;
}
select, input{
    font-size:12px;
    padding: 3px;
    }
    
#header-small {
    background-color: #D2D2D2;
    border-radius: 5px;
    font-size: 11px;
    height: 13px;
    padding: 5px;
    margin-bottom:10px;
}

.button {
    background: none repeat scroll 0 0 #36385D;
    color: #FFFFFF !important;
    display: block;
    float: right;
    font-weight: bold;
    height: 27px;
    line-height: 25px;
    text-align: center;
    text-decoration: none !important;
    width: 60px;
    border-radius: 10px;
    margin-right: 7px;
}

.search_button {
    background: url(".././img/search_button.png") no-repeat scroll center center #36385D;
    border-radius: 0 5px 5px 0;
    color: #FFFFFF;
    display: block;
    float: left;
    height: 33px;
    width: 40px;
}

#table_style {
    border-collapse: collapse;
    border:1px solid #97C1CD;
    border-width: 0px;
    text-align:left;
    max-width:100%;
    line-height:;
    font-family:Verdana, Geneva, sans-serif;
    font-size:11px;
    -moz-border-radius :10px;
}

#table_style th a:link ,#table_style th a:visited{
    font-weight:normal;
    text-decoration:underline;
    color:#000;
}
#table_style th a:hover{
    text-decoration:underline;
    color:#000;
}
#table_style th{
    border: solid #97C1CD 1px;
    padding-left: 10px;
    font-weight:normal;
}
#table_style td {
    border-width:0 1px 1px 0;
    border-color:#D2D2D2;
    border-style:solid;
    padding-left:10px;
}


#result {
    border-collapse: collapse;
    border:1px solid #97C1CD;
    border-width: 0px;
    text-align:left;
    max-width:100%;
    line-height:;
    font-family:Verdana, Geneva, sans-serif;
    font-size:11px;
    -moz-border-radius :10px;
}

#result th a:link ,#result th a:visited{
    font-weight:normal;
    text-decoration:underline;
    color:#000;
}
#result th a:hover{
    text-decoration:underline;
    color:#000;
}
#result th{
    border: solid #97C1CD 1px;
    padding-left: 10px;
    font-weight:normal;
}
#result td {
    border-width:0 1px 1px 0;
    border-color:#D2D2D2;
    border-style:solid;
    padding-left:10px;
}
    
    
#selectLevel.active {
    color: black;
}

#selectLevel.inactive {
    color: #909090;
}

.labels {
     color: red;
     background-color: none;
     font-family: "Lucida Grande", "Arial", sans-serif;
     font-size: 10px;
     font-weight: bold;
     text-align: center;
     width: 63px;
     heiht: 63px;     
     border: 0px solid black;
     white-space: nowrap;
}


h1, h2, p { margin:10px 0 }
.hidden { visibility:hidden }
.message { padding:10px; margin:15px 0; display:block; text-align:left }
.message-title { font-weight:bold; font-size:1.25em }
.message-body { margin-top:4px }
.error, .notice, .success { padding:.8em; margin-bottom:1em; border:2px solid #ddd }
.error { background:#FBE3E4; color:#8a1f11; border-color:#FBC2C4 }
.notice { background:#FFF6BF; color:#514721; border-color:#FFD324 }
.success { background:#E6EFC2; color:#264409; border-color:#C6D880 }
.error a { color:#8a1f11 }
.notice a { color:#514721 }
.success a { color:#264409 }
    
    
.markerLabels {
     color: red;
     background-color: white;
     font-family: "Lucida Grande", "Arial", sans-serif;
     font-size: 10px;
     font-weight: bold;
     text-align: center;
     width: 40px;
     border: 2px solid black;
     white-space: nowrap;
}

.markerLabelWithGreen {
     color: green;
     background-color: white;
     border-radius: 11px 11px 11px 11px;
     font-family: "Lucida Grande", "Arial", sans-serif;
     font-size: 10px;
     font-weight: bold;
     text-align: center;
     width: 40px;
     border: 1px solid #999999;
     white-space: nowrap;
}


.markerLabelWithRed {
     color: red;
     background-color: white;
     border-radius: 11px 11px 11px 11px;
     font-family: "Lucida Grande", "Arial", sans-serif;
     font-size: 10px;
     font-weight: bold;
     text-align: center;
     width: 40px;
     border: 1px solid red;
     white-space: nowrap;
}
